<packages>
    <package id="winfetch"/>
</packages>

        <!--<packages>-->
        <!--&lt;!&ndash; dev &ndash;&gt;-->
        <!--<package id="googlechrome"/>-->
        <!--<package id="notepadplusplus"/>-->
        <!--<package id="git"/>-->
        <!--<package id="github-desktop"/>-->
        <!--<package id="dotnet"/>-->
        <!--<package id="postman"/>-->
        <!--<package id="nodejs"/>-->
        <!--<package id="powershell-core"/>-->
        <!--<package id="microsoft-windows-terminal"/>-->
        <!--<package id="oh-my-posh"/>-->
        <!--<package id="ripgrep"/>-->
        <!--<package id="mingw"/>-->

        <!--<package id="sql-server-2022"/>-->

        <!--<package id="vscode"/>-->
        <!--<package id="jetbrains-rider"/>-->
        <!--<package id="webstorm"/>-->
        <!--<package id="intellijidea-ultimate"/>-->
        <!--<package id="datagrip"/>-->
        <!--<package id="jetbrainsmononf"/>-->

        <!--&lt;!&ndash; graphics &ndash;&gt;-->
        <!--<package id="gimp"/>-->
        <!--<package id="inkscape"/>-->

        <!--&lt;!&ndash; video &ndash;&gt;-->
        <!--<package id="vlc"/>-->
        <!--<package id="k-litecodecpackfull"/>-->

        <!--&lt;!&ndash; utils &ndash;&gt;-->
        <!--<package id="steam"/>-->
        <!--<package id="spotify"/>-->
        <!--<package id="discord"/>-->

        <!--<package id="notion"/>-->
        <!--<package id="calibre"/>-->
        <!--<package id="7zip"/>-->
        <!--<package id="qbittorrent"/>-->
        <!--<package id="powertoys"/>-->
        <!--<package id="autoruns"/>-->
        <!--<package id="f.lux"/>-->
        <!--<package id="winfetch"/>-->
        <!--</packages>-->
